extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

    .headblock
        p.headbkock-subscribe Страхование по подписке В Израиле
        h1.headblock-tittle Решим все ваши финансовые страховые вопросы online от 59 ₪ в месяц